<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<a href="/"><h3 class="back">Retour aux annonces</h3></a>
<div class="annonce-content">
	<div class="annonce-head">
		<img class="annonce-img" src="https://remixjobs-cache.s3-eu-west-1.amazonaws.com/106x106_thumbnail/1460721844-561dcffd8f33179a3de9593a59fc51c2.png" width="106" heigh="106"/>
		<div class="annonce-title">
			<p class="poste"><%= job.titre %></p>
			<p class="coord"><span class="societe"><%= job.societe %></span>, <%= job.type_poste %>, Paris</p>
			<p class="skills"><span class="skill">Compétence 1</span><span class="skill">Compétence 2</span><span class="skill">Compétence 3</span></p>
		</div>
		<div style="clear: both;"></div>
		<div class="annonce-desc">
			<%= job.description %>
		</div>
	</div>
</div>
