<div class="annonce">
	<p class="type-poste">CDI</p>
	<a href="/annonce" class="poste">Technicien de Surface</a>
	<p class="coord"><span class="societe">Entreprise</span>, Paris</p>
	<p class="skills"><span class="skill">Compétence 1</span><span class="skill">Compétence 2</span><span class="skill">Compétence 3</span></p>
</div>
<div class="annonce">
	<p class="type-poste">CDD</p>
	<a href="/annonce" class="poste">Technicien de Surface</a>
	<p class="coord"><span class="societe">Entreprise</span>, Paris</p>
	<p class="skills"><span class="skill">Compétence 1</span><span class="skill">Compétence 2</span><span class="skill">Compétence 3</span></p>
</div>
<div class="annonce">
	<p class="type-poste">CDD</p>
	<a href="/annonce" class="poste">Technicien de Surface</a>
	<p class="coord"><span class="societe">Entreprise</span>, Paris</p>
	<p class="skills"><span class="skill">Compétence 1</span><span class="skill">Compétence 2</span><span class="skill">Compétence 3</span></p>
</div>
<div class="annonce">
	<p class="type-poste">CDD</p>
	<a href="/annonce" class="poste">Technicien de Surface</a>
	<p class="coord"><span class="societe">Entreprise</span>, Paris</p>
	<p class="skills"><span class="skill">Compétence 1</span><span class="skill">Compétence 2</span><span class="skill">Compétence 3</span></p>
</div>
<div class="annonce">
	<p class="type-poste">CDD</p>
	<a href="/annonce" class="poste">Technicien de Surface</a>
	<p class="coord"><span class="societe">Entreprise</span>, Paris</p>
	<p class="skills"><span class="skill">Compétence 1</span><span class="skill">Compétence 2</span><span class="skill">Compétence 3</span></p>
</div>
<div class="annonce">
	<p class="type-poste">CDD</p>
	<a href="/annonce" class="poste">Technicien de Surface</a>
	<p class="coord"><span class="societe">Entreprise</span>, Paris</p>
	<p class="skills"><span class="skill">Compétence 1</span><span class="skill">Compétence 2</span><span class="skill">Compétence 3</span></p>
</div>
<div class="annonce">
	<p class="type-poste">CDD</p>
	<a href="/annonce" class="poste">Technicien de Surface</a>
	<p class="coord"><span class="societe">Entreprise</span>, Paris</p>
	<p class="skills"><span class="skill">Compétence 1</span><span class="skill">Compétence 2</span><span class="skill">Compétence 3</span></p>
</div>
<div class="annonce">
	<p class="type-poste">CDD</p>
	<a href="/annonce" class="poste">Technicien de Surface</a>
	<p class="coord"><span class="societe">Entreprise</span>, Paris</p>
	<p class="skills"><span class="skill">Compétence 1</span><span class="skill">Compétence 2</span><span class="skill">Compétence 3</span></p>
</div>
<div class="annonce">
	<p class="type-poste">CDD</p>
	<a href="/annonce" class="poste">Technicien de Surface</a>
	<p class="coord"><span class="societe">Entreprise</span>, Paris</p>
	<p class="skills"><span class="skill">Compétence 1</span><span class="skill">Compétence 2</span><span class="skill">Compétence 3</span></p>
</div>
<div class="annonce">
	<p class="type-poste">CDD</p>
	<a href="/annonce" class="poste">Technicien de Surface</a>
	<p class="coord"><span class="societe">Entreprise</span>, Paris</p>
	<p class="skills"><span class="skill">Compétence 1</span><span class="skill">Compétence 2</span><span class="skill">Compétence 3</span></p>
</div>