<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
	<script src="./controller/indexCtrl.js"></script>
</head>
<body>
	<header>
		<h1>Site d'Annonces</h1>
	</header>
	<div class="body-content">
		<%- include(template) %>
	</div>
	<footer>
		<p class="footer-text">© Copyright 2016 </p>
	</footer>
</body>
</html>
